* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
}
body {
  background-image: url('../image/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
button {
    border: none;
    outline: none;
}

.scene {
  padding: 1em;
}

#scene-init {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  margin: auto;
  text-align: center;
  overflow: auto;
}
  #scene-init * {
    margin: 0.5em;
  }
  #scene-init input, #scene-init button {
    border: none;
    padding: 1em;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    outline: none;
  }
  #scene-init button {
    background: #a12058;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }
  #scene-init button:hover {
    background: #c72a6e;
  }
  #scene-init p {
    color: #666;
    text-align: left;
  }
  #scene-init h1 {
    font-family: 'Stick', sans-serif;
    color: #a12058;
    margin-left: 15px;
  }

#scene-select {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  margin: auto;
  text-align: center;
  overflow: auto;
}
  #scene-select h2 {
    color: #eee;
    font-size: 23pt;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px dashed #888;
    padding: 0.5em 0;
  }
  #scene-select ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
    #scene-select ul li {
      color: #eee;
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
      text-align: center;
      border: 5px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s;
    }
    #scene-select ul li.now-playing {
      border-color: #a12058;
    }
    #scene-select ul li:hover {
      border-color: #a12058;
    }
      #scene-select ul li span {
        display: block;
        color: #666;
      }

#scene-main {
  display: none;
}

  #scene-main button {
    width: 80px;
    height: 60px;
    margin: 0 1em;
    border-radius: 10px;
    font-size: 13pt;
    transition: 0.3s;
    cursor: pointer;
  }
  #scene-main button {
    color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    border: 3px solid #ddd;
  }
  #scene-main button#btn-select {
    background: #a12058;
  }
  #scene-main button#btn-select:hover {
    background: #c72a6e;
  }
  #scene-main button#btn-tuner {
    background: #267aad;
  }
  #scene-main button#btn-tuner:hover {
    background: #3690c7;
  }

  .content {
    border-radius: 20px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 1);
    text-align: center;
  }
    .content * {
      margin: 0 auto;
    }
    .content p {
      color: #fff;
      line-height: 1.5em;
    }

    #score {
      color: #eaebc0;
    }
    .score-val {
      font-family: 'Reggae One', cursive;
      font-weight: bold;
      color: #fff;
      line-height: 1em;
    }

     p.note-info {
       width: 300px;
       box-shadow: 0px 9px 3px -3px #5fc4e8;
       margin-bottom: 0.5em;
     }
     #username {
       margin-top: 1em;
     }

  .control {
    text-align: center;
  }

#scene-tuner {
  display: none;
  position: absolute;
  top: -100px;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  margin: auto;
  text-align: center;
  transition: 0.3s;
}
  #scene-tuner p#tuner-note {
    color: #fff;
  }
  #scene-tuner p#tuner-confidence {
    color: #aaa;
  }
  #scene-tuner button#btn-main {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    border: 3px solid #ddd;
    font-size: 13pt;
    background: #3da175;
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
  }
