#scene-init {
  width: 90%;
  height: 80%;
}
  #scene-init h1 {
    margin-top: 1em;
    font-size: 32pt;
  }
  #scene-init p {
    font-size: 12pt;
  }

#scene-select {
}
    #scene-select ul li {
      width: 70px;
      height: 70px;
      margin: 10px;
      font-size: 15pt;
      line-height: 55px;
    }
      #scene-select ul li span {
        margin-top: -30px;
        font-size: 11pt;
      }

#scene-main {
}
  .content {
    margin-bottom: 1em;
  }
    .content p {
      font-size: 13pt;
    }
    #score {
      font-size: 20pt;
      font-weight: bold;
      text-stroke: 1px #c661e8;
      -webkit-text-stroke: 1px #c661e8;
    }
    #score-main {
      font-size: 64pt;
    }
    #score-sub {
      font-size: 32pt;
    }
    .score-val {
      text-stroke: 3px #c661e8;
      -webkit-text-stroke: 3px #c661e8;
    }
    p.note-info {
      font-size: 18pt;
    }

#scene-tuner {
  width: 222px;
  height: 222px;
  border: 20px solid rgba(0, 0, 0, 0.9);
}
  #scene-tuner p#tuner-note {
    line-height: 180px;
  }
  #scene-tuner p#tuner-note {
    font-size: 60pt;
  }
  #scene-tuner p#tuner-confidence {
    margin-top: -40px;
    font-size: 30pt;
  }
  #scene-tuner button#btn-main {
    top: 300px;
  }
