#scene-init {
  width: 600px;
  height: 400px;
}
  #scene-init h1 {
    font-size: 45pt;
  }
  #scene-init p {
    font-size: 11pt;
    margin: 0 5em;
  }

#scene-select {
  width: 600px;
  height: 600px;
}
    #scene-select ul li {
      width: 100px;
      height: 100px;
      margin: 20px;
      font-size: 20pt;
      line-height: 80px;
    }
      #scene-select ul li span {
        margin-top: -50px;
      }

#scene-main {
}
  .content {
    margin: 1em auto;
    max-width: 1000px;
  }
    .content p {
      font-size: 18pt;
    }
    #score {
      font-size: 42pt;
      font-weight: bold;
      text-stroke: 5px #c661e8;
      -webkit-text-stroke: 5px #c661e8;
    }
    #score-main {
      font-size: 200pt;
    }
    #score-sub {
      font-size: 100pt;
    }
    .score-val {
      text-stroke: 10px #c661e8;
      -webkit-text-stroke: 10px #c661e8;
    }
    p.note-info {
      font-size: 22pt;
    }


